.img-about{
    padding-top:100px;
    padding-left: 30px;
}
.btn {
    background-color: #00ff66 !important;
    color: black !important;
    border: none !important;
}
.btn:hover{
    background-color: #17b857 !important;
    color: black !important;
}