@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);


.contentold{
  padding-top: 500px;
  width: 850px; 
  margin: auto;
  padding: 50px 0;
}
 .contentold p{
    font-size: 1.25em;
  }
  .contentold a{
    color: #ffffff;
  }

.fixed_footerold{
  width: 100%;
  background: rgb(46, 46, 46);
  position: relative; left: 0; bottom: 0;
  padding-bottom: 0cm;

}
   .fixed_footerold p{
    color: white;
    column-count: 2;
    column-gap: 20px;
    font-size: 1em;
    font-weight: 300;
  }
  .centertextold{
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
/* Max widht 900px, small screen*/
@media screen and (max-width: 900px){
  .contentold{
    padding-left: 20px;
  }
}
 