body{
height: 100%;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnavold {
  background-color: #1d1d1d;
  overflow: hidden;
  position: fixed;
  width: 10%;
  top: 0;
  height: 100%;
  z-index: +1;
}

/* Style the links inside the navigation bar */
.topnavold a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Change the color of links on hover */
.topnavold a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none !important;
}

/* Add a color to the active/current link */
.topnavold a.active {
  background-color: #00ff66;
  color: black;
}
/* Search bar input position and size*/
.topnavold input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
}
/* Imagem margin top position and text align*/
.boxold   {
  text-align: center;
  padding-left: 10%;
  color: white;
  position: relative;
  z-index: -1;
}
.boxold img{
  width: 100%;
  position: relative;
}
/* Centered text color, position, bg */
.centeredold {
  padding-top: 13px;
  color: white;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  background: rgba(0, 0, 0, 0.4); /* Fallback color */
  border-radius: 25px;;
  height: 80px;
  width: 220px;
}
.banner{
  width: 100%;
  height: 450px;
}
.container{
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-left: 10% !important;
}
.row{
  padding-top: 30px;
  overflow: auto;
  padding-bottom: 50px;
}
.caption{
  font-size: 20px;
  text-align: left;
  color: black !important;
}
.thumbnail :hover{
  text-decoration: none;
}
.thumbnail:hover{
  text-decoration:none;
  display:block;
  border:2px solid black;
}
.top-p50{
  padding-top: 50px;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #1d1d1d;
  top: 70px;
  left: 10%;
}
.topnavold:hover > .categoria:hover .dropdown-content {
  display: inline;
}
/* Max widht 900px, small screen*/
@media screen and (max-width: 900px) {
  /* Delete the margin top*/
  .boxold{
    height: 200;
    margin-top: 0;
    background-size: 180%;
    padding-left: 0;
  }
  /* Font size centered text*/
  .centeredold{
    font-size: 30px;
  }
  /* Menu position become relative, hide when scroll*/
  .topnavold{
    padding-top: 50px;
    position: relative;
    width: 100%;
  }
  /* Active item still fixed so it keep sticky to the top*/
  .topnavold a.active{
    position: fixed;
  }
  /* Top nav adjustment*/
  .topnavold a, .topnavold input[type=text] {
    float: none;
    top: 0;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnavold input[type=text] {
    border: 1px solid #ccc;
  }
  .topnavold a.search, .topnavold a.cart{
    width: 100%;
    float:none;
  }
  .row{
    width: 100%;
    float: none;
    position: relative;
  }
  .col-md-4{
    padding-top: 40px;
  }
  .dropdown-content {
    left:0;
    top:0;
  }
  .topnavold:hover > .categoria:hover .dropdown-content {
    display: contents;
  }
  /*STILL ON 900px SCREEN*/
} 
/*------------------------------------------------------------------------------------------------------*/